<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue.js sample</title>
		<link rel="stylesheet" href="style.css" >
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	</head>
	
	<body>
		<h2>trueのときだけ表示する例</h2>
		<div id="app">
			<label><input type="checkbox" v-model="myVisible">表示する</label>
			<p v-if="myVisible">チェックボックスはON</p>
		</div>

		<script>
			new Vue({
				el: '#app',
				data: {
					myVisible: false
				}
			})
		</script>
	</body>
</html>