<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue.js sample</title>
		<link rel="stylesheet" href="style.css" >
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	</head>
	
	<body>
		<h2>選択したラジオボタンを表示する例</h2>
		<div id="app">
			<label><input type="radio" value="red" v-model="picked">
				赤</label><br>
			<label><input type="radio" value="green" v-model="picked">
				緑</label><br>
			<label><input type="radio" value="blue" v-model="picked">
				青</label><p>
			{{ picked }} を選択
		</div>

		<script>
			new Vue({
				el: '#app',
				data: {
					picked: 'red'
				}
			})
		</script>

	</body>
</html>