<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue.js sample</title>
		<link rel="stylesheet" href="style.css" >
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	</head>
	
	<body>
		<h2>複数のチェックボックスのONを、配列にする例</h2>
		<div id="app">
			<label><input type="checkbox" value="red" v-model="myChecks">
				赤</label><br>
			<label><input type="checkbox" value="green" v-model="myChecks">
				緑</label><br>
			<label><input type="checkbox" value="blue" v-model="myChecks">
				青</label><br>
			選択したのは、{{ myChecks }}
		</div>

		<script>
			new Vue({
				el: '#app',
				data: {
					myChecks:[]
				}
			})
		</script>

	</body>
</html>